*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 3rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navigation_checkbox {
    display: none;
}
.navigation_button {
    background-color: red;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1001;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}
.navigation_background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#ED213A, #93291E);
    z-index: 999;
    transition: transform 0.8s cubic-bezier(0.56, 0.3, 0.32, 0.52);
}
.navigation_nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}
.navigation_item {
    margin: 1rem;
}
.navigation_link:link, .navigation_link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 0.4s;
    font-family: "Noto Serif JP", serif;
}
.navigation_link:link span, .navigation_link:visited span {
    margin-right: 1.5rem;
    display: inline-block;
}
.navigation_link:hover, .navigation_link:active {
    background-position: 100%;
    color: #F00000;
    transform: translateX(1rem);
}
.navigation_checkbox:checked ~ .navigation_background {
    transform: scale(80);
}
.navigation_checkbox:checked ~ .navigation_nav {
    opacity: 1;
    width: 100%;
}
.navigation_icon {
    position: relative;
    margin-top: 3.5rem;
    margin-left: 1.8rem;
}
.navigation_icon, .navigation_icon::before, .navigation_icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block;
}
.navigation_icon, .navigation_icon::before, .navigation_icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}
.navigation_icon::before {
    top: -0.8rem;
}
.navigation_icon::after {
    top: 0.8rem;
}
.navigation_button:hover .navigation_icon::before {
    top: -1rem;
}
.navigation_button:hover .navigation_icon::after {
    top: 1rem;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon {
    background-color: transparent;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
    top: 0;
    transform: rotate(135deg);
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
    top: 0;
    transform: rotate(-135deg);
}

/*&_checkbox:checked + &_button &_icon == When the checkbox is selected, then we select its brother, basically, which is called a button. Then, we select the button's child, which is the icon.*/